@{
    ViewData["Title"] = "Home Page";
}
<p>
    <a asp-controller="Usuario" asp-action="Index" class="btn btn-primary">Ver Usuarios</a>
    <a asp-controller="Rol" asp-action="Index" class="btn btn-primary">Ver Roles</a>
</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
